.navbar-bg {
    background: url(../images/logo.png) no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

.body-bg {
    background-color: rgb(24,23,40);/*background-color: rgb(24,23,40)*/
}

.narvbar-border {
    border: 0;
}

.navbar-p {
    color: #ffffff;
    margin: 0 0 5px;
}

.main-body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.body-up {
    padding-left:0px;
    padding-right:0px;
    height:380px;
    background-color: #312644;
    border-right:5px solid #1F2034;
    border-left:5px solid #1F2034;
}
.body-down{
    height:280px;
    padding-left:0px;
    padding-right:0px;
    background-color: #312644;
    border-right:5px solid #1F2034;
    border-left:5px solid #1F2034;
}
h2 {
    color: #ffffff;
}

p {
    color: #2aabd2;
}

.mb-15 {
    margin-bottom: 15px;
}

.div-outside{
    position: absolute;
}

.div-inside-bottom {
    position: relative;
    margin-bottom: 0;
}

.btn-active{
    width:65px;
    height:65px;
    background-color: rgb(51,34,155);
    color:rgb(61,120,157);
    border-color:rgb(51,34,155);
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight:600;
    margin-left: 25px;
}
.btn-css{
    width:65px;
    height:65px;
    background-color: rgb(32,25,50);
    color:rgb(61,120,157);
    border-color:rgb(32,25,50);
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight:600;
    margin-left:32px;
}
.text-group{
    margin-top:15px;
}
.text-p{
    font-size:16px;
    font-weight:400;
    font-family: "微软雅黑";
    color:#2aabd2;
}
.circle{
    margin-top:2px;
    padding-left: 0px;
    padding-right: 0px;
    width:21px;
    height:21px;
    background-color:red;
    border-radius: 100%; /* 图形的半径 */
}

.form-input{
    width:50px;
/*    height:30px; */
    background-color: rgb(24,23,40);
    border:1px solid rgb(24,23,40);
    font-family: "微软雅黑";
/*    font-size: 16px; */
    color: white;
}
.form-btn{
    background-color: white;
    margin-left: 90px;
    margin-top: 10px;
    float:left;
    width:100px;
    heigth:30px;
}

.form-btn-2{
    background-color: white;
    float:left;
    width:100px;
    heigth:30px;
    margin: 30px 0 20px 10px;
    color: black;
}

.form-text{
    margin-right: 0;
    color: white;
    display:inline-block;
}

.span-data {
    color: white;
}

.div-img {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0;
}

img {
    width:100%;
    height:auto;
}

.log-label {
    color: white;
}

tr {
    color: white;
}

td {
    color: white;
}